body{
    background-color: rgb(150, 132, 135);
    color: rgb(100, 199, 191);
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 900;
}

button{
    display: block;
    position: fixed;

    height: 200px;
    width: 200px;

    margin-top: -150px;
    margin-left: 150px;

    left: 50%;
    top: 50%;
}