body{
    background-color: rgb(150, 132, 135);
    color: rgb(100, 199, 191);
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 900;
}

div{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 80px
}